{% extends 'base.html' %}

{% block content %}
<h1>{{ category.name }}</h1>
{% if category.image %}
    <div class="category-image-wrapper">
        <img src="{{ category.image.url }}" class="category-detail-image" alt="{{ category.name }}">
    </div>
{% endif %}
<p>{{ category.description }}</p>
<p><small>Дата создания: {{ category.created_at }}</small></p>
<a href="{% url 'module_project:category_list' %}" class="btn btn-secondary">Назад</a>
<a href="{% url 'module_project:category_update' category.pk %}" class="btn btn-warning">Редактировать</a>
<a href="{% url 'module_project:category_delete' category.pk %}" class="btn btn-danger">Удалить</a>
{% endblock %}