{% extends 'base.html' %}

{% block content %}
<h1>{{ category.name }}</h1>
{% if category.image %}
    <img src="{{ category.image.url }}" class="img-fluid mb-3" alt="{{ category.name }}">
{% endif %}
<p>{{ category.description }}</p>
<p><small>Дата создания: {{ category.created_at }}</small></p>
<a href="{% url 'module_project:category_list' %}" class="btn btn-secondary">Назад</a>
<a href="{% url 'module_project:category_update' category.pk %}" class="btn btn-warning">Редактировать</a>
<a href="{% url 'module_project:category_delete' category.pk %}" class="btn btn-danger">Удалить</a>
{% endblock %}